PAPERLESS_NGX_PAPERLESS_GPT_AUTO_OCR_TAG=
PAPERLESS_NGX_PAPERLESS_GPT_AUTO_TAG=
PAPERLESS_NGX_PAPERLESS_GPT_CREATE_LOCAL_HOCR=
PAPERLESS_NGX_PAPERLESS_GPT_CREATE_LOCAL_PDF=
PAPERLESS_NGX_PAPERLESS_GPT_LLM_MODEL=
PAPERLESS_NGX_PAPERLESS_GPT_LLM_PROVIDER=
PAPERLESS_NGX_PAPERLESS_GPT_LOCAL_HOCR_PATH=
PAPERLESS_NGX_PAPERLESS_GPT_LOCAL_PDF_PATH=
PAPERLESS_NGX_PAPERLESS_GPT_LOG_LEVEL=
PAPERLESS_NGX_PAPERLESS_GPT_MANUAL_TAG=
PAPERLESS_NGX_PAPERLESS_GPT_OCR_LIMIT_PAGES=
PAPERLESS_NGX_PAPERLESS_GPT_OCR_PROCESS_MODE=
PAPERLESS_NGX_PAPERLESS_GPT_OCR_PROVIDER=
PAPERLESS_NGX_PAPERLESS_GPT_OLLAMA_CONTEXT_LENGTH=
PAPERLESS_NGX_PAPERLESS_GPT_OLLAMA_HOST=
PAPERLESS_NGX_PAPERLESS_GPT_PAPERLESS_API_TOKEN=
PAPERLESS_NGX_PAPERLESS_GPT_PAPERLESS_BASE_URL=
PAPERLESS_NGX_PAPERLESS_GPT_PAPERLESS_PUBLIC_URL=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_COPY_METADATA=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_OCR_COMPLETE_TAG=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_OCR_TAGGING=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_REPLACE=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_SKIP_EXISTING_OCR=
PAPERLESS_NGX_PAPERLESS_GPT_PDF_UPLOAD=
PAPERLESS_NGX_PAPERLESS_GPT_TOKEN_LIMIT=
PAPERLESS_NGX_PAPERLESS_GPT_VISION_LLM_MODEL=
PAPERLESS_NGX_PAPERLESS_GPT_VISION_LLM_PROVIDER=
PAPERLESS_NGX_WEBSERVER_PAPERLESS_REDIS=
