MAILFLOW_BACKEND_APP_URL=
MAILFLOW_BACKEND_DB_HOST=
MAILFLOW_BACKEND_DB_NAME=
MAILFLOW_BACKEND_DB_PASSWORD=
MAILFLOW_BACKEND_DB_USER=
MAILFLOW_BACKEND_ENCRYPTION_KEY=
MAILFLOW_BACKEND_FRONTEND_URL=
MAILFLOW_BACKEND_GOOGLE_CLIENT_ID=
MAILFLOW_BACKEND_GOOGLE_CLIENT_SECRET=
MAILFLOW_BACKEND_NODE_ENV=
MAILFLOW_BACKEND_PORT=
MAILFLOW_BACKEND_REDIS_URL=
MAILFLOW_BACKEND_SESSION_SECRET=
MAILFLOW_BACKEND_VAPID_PRIVATE_KEY=
MAILFLOW_BACKEND_VAPID_PUBLIC_KEY=
MAILFLOW_BACKEND_VAPID_SUBJECT=
MAILFLOW_POSTGRES_POSTGRES_DB=
MAILFLOW_POSTGRES_POSTGRES_PASSWORD=
MAILFLOW_POSTGRES_POSTGRES_USER=
MAILFLOW_REDIS_COMMAND=
