BLACKBOX_BLACKBOX_AGENT_AGENT_TOKEN=
BLACKBOX_BLACKBOX_AGENT_NODE_NAME=
BLACKBOX_BLACKBOX_AGENT_SERVER_URL=
BLACKBOX_BLACKBOX_AGENT_TZ=
BLACKBOX_BLACKBOX_AGENT_WATCH_PATHS=
BLACKBOX_BLACKBOX_AGENT_WATCH_SYSTEMD=
BLACKBOX_BLACKBOX_SERVER_AGENT_TOKENS=
BLACKBOX_BLACKBOX_SERVER_JWT_SECRET=
BLACKBOX_BLACKBOX_SERVER_TZ=
BLACKBOX_BLACKBOX_SERVER_WEBHOOK_SECRET=
