INVOICENINJA_MYSQL_HEALTHCHECK_TEST_0=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_1=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_2=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_3=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_4=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_5=
INVOICENINJA_MYSQL_HEALTHCHECK_TEST_6=
INVOICENINJA_MYSQL_MYSQL_DATABASE=
INVOICENINJA_MYSQL_MYSQL_PASSWORD=
INVOICENINJA_MYSQL_MYSQL_ROOT_PASSWORD=
INVOICENINJA_MYSQL_MYSQL_USER=
INVOICENINJA_REDIS_HEALTHCHECK_TEST_0=
INVOICENINJA_REDIS_HEALTHCHECK_TEST_1=
INVOICENINJA_REDIS_HEALTHCHECK_TEST_2=
