BOOKSTACK_BOOKSTACK_APP_KEY=
BOOKSTACK_BOOKSTACK_APP_URL=
BOOKSTACK_BOOKSTACK_DB_DATABASE=
BOOKSTACK_BOOKSTACK_DB_HOST=
BOOKSTACK_BOOKSTACK_DB_PASSWORD=
BOOKSTACK_BOOKSTACK_DB_PORT=
BOOKSTACK_BOOKSTACK_DB_USERNAME=
BOOKSTACK_BOOKSTACK_PGID=
BOOKSTACK_BOOKSTACK_PUID=
BOOKSTACK_BOOKSTACK_TZ=
BOOKSTACK_MARIADB_MYSQL_DATABASE=
BOOKSTACK_MARIADB_MYSQL_PASSWORD=
BOOKSTACK_MARIADB_MYSQL_ROOT_PASSWORD=
BOOKSTACK_MARIADB_MYSQL_USER=
BOOKSTACK_MARIADB_PGID=
BOOKSTACK_MARIADB_PUID=
BOOKSTACK_MARIADB_TZ=
